@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
  --extra-light-gray: #f5f8fa;
  --border-color: #f3f4f6;
  --light-gray: #e1e8ed;
}

body {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
}

#nav-pills {
  list-style: none;
  padding-left: 0.5rem;
  margin-top: 1.5rem;
}

#nav-pills li a {
  text-decoration: none;
  color: #111;
}

.home-svg {
  fill: var(--twitter-blue);
}

#logo {
  fill: var(--twitter-blue);
  margin-top: 0.5rem;
}

#nav-pills .home-link {
  color: var(--twitter-blue);
}

.user-avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.user-avatar-lg,
.sg-img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.nav-item:last-child {
  margin-bottom: 0.5rem;
}

.nav-item:hover {
  cursor: pointer;
}

.link {
  margin-left: 1.3rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.user-profile {
  display: flex;
  position: fixed;
  bottom: 1.5rem;
}

#profile-container {
  display: flex;
  margin-right: 1rem;
}

.user-info {
  margin-left: 0.6rem;
}

#userName {
  font-weight: 800;
}

#user-option {
  align-self: center;
}

.grid-container {
  display: grid;
  max-width: 93%;
  margin: auto;
  grid-template-columns: 1.2fr 3fr 1.7fr;
  grid-gap: 1.5rem;
}

.tweet-btn {
  background-color: var(--twitter-blue);
  color: #fff;
  border: 0px solid black;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: bold;
}

.primary {
  padding: 1rem 5.5rem;
}

.secondary {
  font-size: 0.95rem;
  padding: 0.7rem 0.9rem;
  opacity: 0.55;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#home-title {
  font-size: 1.1rem;
  margin: 0;
  font-weight: 800;
}

#title-icon {
  fill: var(--twitter-blue);
}

#header {
  margin: 0.4rem 0 0.8rem;
  padding: 0 1.5rem 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

#tweet-space {
  padding: 0 1.5rem 0.5rem;
}

#new-tweet {
  display: flex;
  align-items: center;
}

#new-tweet p {
  margin-left: 1rem;
  font-size: 1.2rem;
}

#upload-options {
  display: flex;
  justify-content: space-between;
}

#upload-icons {
  margin-left: 3.8rem;
}

.up-icon {
  margin-left: 0.8rem;
  fill: var(--twitter-blue);
}

.up-icon:first-child {
  margin-left: 0;
}

#new-tweet-container {
  border: 1px solid var(--border-color);
}

#new-tweet p {
  color: #6b7280;
}

#empty-div {
  height: 10px;
  background-color: var(--extra-light-gray);
}

.tweet-article {
  display: flex;
  border: 1px solid var(--border-color);
  padding: 1rem;
}

hr {
  border: 1px solid var(--border-color);
}

.tweet-feed {
  margin-left: 1rem;
}

.user-details {
  display: flex;
}

.multi-option {
  margin-left: 12rem;
}

.name {
  font-weight: bold;
}

.user-reaction {
  margin-left: 4.2rem;
}

.reaction-no {
  margin-left: 0.5rem;
}

.post-time {
  margin-left: 0.5rem;
  font-weight: 300;
}

.twitter-handle {
  font-weight: 300;
}

.search {
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-top: 0.5rem;
  background-color: var(--light-gray);
}

.search-icon {
  fill: #666;
}

#search-container {
  padding: 0.6rem 0.3rem;
}

input {
  border: none;
  background-color: var(--light-gray);
  padding: 0.6rem 0;
}

input::placeholder {
  font-size: 0.95rem;
}

.thead {
  display: flex;
  justify-content: space-between;
}

.desc-img {
  width: 68px;
  height: 68px;
  border-radius: 10px;
}

.trend-title {
  font-weight: bold;
  font-size: 15px;
}

.trend-desc {
  font-size: 13px;
  color: rgb(91, 112, 131);
}

.trend-info {
  display: flex;
  flex-direction: column;
}

.trend-nation {
  font-size: 13px;
  color: rgb(91, 112, 131);
}

.trend-tcount {
  font-size: 13px;
  color: rgb(91, 112, 131);
}

.suggest {
  display: flex;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid var(--light-gray);
}

.user-data {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.heading h2 {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}

.heading {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid var(--light-gray);
}

.trending-card {
  background-color: var(--extra-light-gray);
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.heading-1 {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid var(--light-gray);
}

.heading-2 {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid var(--light-gray);
}
.heading-3 {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid var(--light-gray);
}

#more-trends {
  padding: 1rem;
}

.show-more {
  font-size: 15px;
  color: var(--twitter-blue);
  font-weight: 400;
}

#follow-heading {
  font-size: 19px;
  margin: 0;
  font-weight: 800;
}

.suggestion-card {
  background-color: var(--extra-light-gray);
  border-radius: 1.5rem;
  margin-top: 1rem;
}

.heading-title {
  padding: 0.7rem 1rem;
  border-bottom: 1px solid var(--light-gray);
}

.og-name {
  font-weight: 700;
  font-size: 15px;
}

.og-id {
  color: rgb(91, 112, 131);
}

.follow-btn {
  padding: 0rem 1rem;
  border-radius: 1.5rem;
  border: 1px solid var(--twitter-blue);
  color: var(--twitter-blue);
  font-weight: 800;
  font-size: 15px;
  justify-self: center;
}

.fb-1 {
  margin-left: 5rem;
}

.fb-2 {
  margin-left: 3rem;
}

.tick-icon {
  fill: var(--twitter-blue);
}
